.body {
  background: url(https://images.unsplash.com/photo-1533462506003-13c20d204b58?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'UnifrakturMaguntia', cursive;
}

h1 {
  font-size: 56px;
  text-align: center;
  /* color: rgba(255,255,255,0.7); */
  color: #fff;
  text-shadow: 2px 2px 4px #000000;
}
nav {
  display:flex;
  justify-content: space-evenly;
}

.nav {
  font-size: 28px;
  text-decoration: none;
  margin: 50px;
  color: #fff;
  text-shadow: 2px 2px 2px #000000;
}
li {
  display: inline-block;
}

.image-container {
  /* display: flex; */
  justify-content: space-around;
}
img {
  width: 20vw;
  margin: 2vw;
}